body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
} /* 
.wrapper {
  overflow: hidden;
}
section {
  padding: 30px 30px 30px 80px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  margin: 0 -250px 0 0;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 2;
  background-color: white;
}

nav ul {
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #222;
  overflow: hidden;
}
nav li {
  margin: 0;
}
nav a {
  color: #fff;
  font-size: 1em;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: 1px solid #333;
}
nav a:hover {
  background: #111;
}
label#navigation-label {
  display: block;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 700;
  background: #1ea1b8;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  position: fixed;
  top: 10px;
  right: 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 500;
}
input#navigation[type="checkbox"] {
  display: none;
}
input#navigation[type="checkbox"]:checked ~ nav {
  margin: 0;
}
input#navigation[type="checkbox"]:checked ~ label {
  right: 260px;
}
input#navigation[type="checkbox"]:checked ~ .Wrapper {
  transform: scale(0.8) translateX(-25vw) translateZ(0) !important;
  -webkit-transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
}

.Wrapper {
  -webkit-transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  background-color: white;
  z-index: 3;
  position: relative;
  min-height: 100vh;
}
.WrapperBackground {
  background-color: #673ab7;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
} */
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600");

* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  color: black;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 5;
  background: #512da8;
  top: 0;
}

main {
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #bf7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 5;
  top: 0;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 1.5px;
  background: #fff;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 6px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  color: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

#nav-container:focus-within ~ .Wrapper {
  transform: scale(0.8) translateX(+25vw) translateZ(0) !important;
  -webkit-transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
}

.Wrapper {
  -webkit-transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  transition: transform 0.8s cubic-bezier(0.15, 0.2, 0.1, 1);
  background-color: white;
  z-index: 3;
  position: relative;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.WrapperBackground {
  background-color: #673ab7;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
}

/* .logo-callify {
  margin-left: 102px;
} */
